.boxedinside {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.boxed {
    margin-left: 50px;
    margin-right: 50px;
}
.check {
    height:70px;
}
.check1 {
    position: relative;
    right: -10px;
    padding-left: 130px;
    padding-right: 130px;
    margin-left: 0px;
}
.checkout2 {
    left:-20px;
}
.checkout1 {
    right:-40px;
}
.check2 {
    margin-left: 60px;
    height:80px;
    margin-top: -20px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}